.option--btn--box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 14px;
    button{
        margin-right: 8px;
        &:last-child{
            margin-right: 0;  
        }
    }
}
.symbol--iten--setting--data--content--box{
    // display: flex;
    width: 100%;  
    height: calc(100% - 122px);     
    // padding-bottom: 12px;    
    .left--ztree--box{
        display: inline-block;
        width: 206px;  
        height: calc(100% - 12px);
        vertical-align: top;
        border: 1px solid #e3e3e3;  
        margin-left: 12px;
        margin-bottom: 12px;  
        overflow-y: auto;
        overflow-x: hidden;  
        .symbol--iten--setting--list_tree{
            display: inline-block;
            width: inherit;     
            height: calc(100% - 6px);
            padding: 4px 0 0 0;
        }
    }

    .right--content--date--list--box{
        // flex: 1 0 auto;  
        display: inline-block;
        vertical-align: top;  
        width: calc(100% - 218px);     
        padding: 0 14px;      
        height: 100%;  
        .grid--list{
            height: calc(100% - 60px);  
        }
    }
}