:host{
    display: inline-block;
    width: 100%;
    // height: calc(100% - 54px);  
    height: 100%;    
}
.right--content--option--box{
    padding: 15px 12px;
    text-align: right;
    .option--btn--box{
        button{
            margin-right: 8px;
            &:last-child{
                margin-right: 0;  
            }
        }
    }
}
.right--content--date--list--box{
    // margin: 0 12px;
    // height: calc(100% - 62px);  
    height: 100%;  
    padding-top: 14px;
    .grid--list{
        width: 100%;
        height: calc(100% - 60px);  
        padding: 0 14px;
    }
}   