<div class="medium--dialog check--unit--audit--detail--dialog">
        <h2 mat-dialog-title>
            详细信息</h2>
        <mat-dialog-content>
            <div class="attribute--row--wrap">
                <div class="left--content--wrap">
                    <h1 class="head">审核信息</h1>
                    <div class="row--box"><span class="title">审核人 : </span>{{info.operatorNameAudit}}</div>
                    <div class="row--box"><span class="title">审核时间 : </span>{{info.timeAudit | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    <div class="row--box"><span class="title">审核结果 : </span>{{info.sts == '2' ? '审核通过' : '退回修改'}}</div>
                    <div class="row--box"><span class="title">审核意见 : </span>{{info.remarksAudit}}</div>
                </div>    
            </div>
            <div class="current--state">当前状态：<span class="state--tip">{{info.sts == '2' ? '已通过' : '未通过'}}</span></div>
        
        </mat-dialog-content>
        <mat-dialog-actions class="option--btn--box">
                <button mat-stroked-button type="button" mat-dialog-close>关闭</button>
        </mat-dialog-actions>
        
    </div>
    
    
    <loading-message *ngIf="loading"></loading-message>